@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  max-width: 1440px;
  background-color: #f5f8ff;
}
header,
.banner-section,
.plant-section,
.plants-lover-section {
  max-width: 1140px;
  margin: 0 auto;
}
/* nav section */
.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-items {
  display: flex;
  gap: 48px;
}
.nav-items li {
  list-style: none;
}
.nav-items a {
  text-decoration: none;
}
.nav-item1 a {
  color: #252432;
  font-weight: 700;
}
.nav-item2 a,
.nav-item3 a {
  color: #8987a1;
}
.nav-item4 a {
  color: black;
}
/* main section */
.banner-section,
.plant-section {
  margin-top: 100px;
}
/* banner section */
.banner-section {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.banner-title {
  color: black;
  font-size: 4rem;
  font-weight: 700;
}
.banner-title span {
  color: #e95a08;
}
.banner-description,
.plant-description {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
}
/* plant section */
.plant-section {
  text-align: center;
}
.plant-title {
  font-size: 3rem;
  font-weight: 700;
}
.plant-title span {
  color: #e95a08;
}
.plant-description {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 0px 40px 0px;
}
.plants-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.plant-name,
.plant-price {
  color: rgb(17, 17, 17);
  font-size: 1.3rem;
}
.plant-name {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}
.plant-price {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 700;
}
.buy-button button {
  background-color: rgb(233, 90, 8);
  width: 100%;
  color: white;
  font-weight: 600;
  padding: 20px 50px;
  border: none;
}
.buy-button button:hover {
  background-color: rgb(255, 25, 0);
  cursor: pointer;
}
/* plants lover section */
.plants-lover-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  margin-top: 150px;
}
.plants-lover-images {
  position: relative;
}
.trusted-icon img {
  position: absolute;
  width: 280px;
  top: -120px;
  right: -100px;
  filter: drop-shadow(-4px 10px 2px rgba(0, 0, 0, 0.25));  
}
.plant-lover-title{
    font-size: 3.1rem;
    font-weight: 700;
}
.plants-lover-description ul{
    padding-left: 20px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
}
.plants-lover-description li{
    margin: 20px 0px ;
}
/* responsive section */

/* small device: eg:mobile */
@media screen and (max-width: 576px) {
  .nav-item1,
  .nav-item2,
  .nav-item3 {
    display: none;
  }
  .nav-section {
    max-width: 360px;
    margin: 0 auto;
  }
  .banner-section {
    flex-direction: column-reverse;
    gap: 28px;
  }
  .banner-title {
    font-size: 1.5rem;
  }
  .banner-description {
    font-size: 1rem;
  }
  .plant-section {
    margin-top: 40px;
  }
  .plants-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-image img {
    width: 100%;
  }
  .plant-name,
  .plant-price {
    font-size: 1rem;
  }
  .buy-button button {
    padding: 5px 10px;
  }
  .plants-lover-section{
    grid-template-columns: repeat(1,1fr);
    margin-top: 50px;
    gap: 30px;
  }
  .flower-store img{
    width: 100%;
  }
  .plant-lover-title{
    font-size: 1.5rem;
    margin: 0px;
  }
  .plants-lover-description ul{
    font-size: 1rem;
  }
  .trusted-icon{
    display: none;
  }
}
